*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
:root{
    --body-color:#E4E9F7;
    --nav-color:#010718;
    --side-nav:#FFF;
    --text-color:#F2F2F2;
    --search-text:#010718;
}
body{
    height:100vh;
    background-color:var(--body-color);
}
nav{
   /* position:fixed; */
    top:0;
    left:0;
    height:80px;
    width:100%;
    background-color:var(--nav-color);

}
nav .navBar{
    position:relative;
    height:100%;
    /* max-width:1000px; */
    width:100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.navBar .nav-links{
    display: flex;
    align-items: center;
}
.navBar .nav-links li{
    margin:20px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size:13px ;
    font-weight: 500;
    color:whitesmoke;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    /* border: solid white; */
    /* margin-left: 50px; */
}
nav .navBar .logo{
    margin-left: 30px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    /* left:10%; */
    bottom:0;
    transform:translateX(50%);
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
    color:aquamarine
}
/* .languageBox>image{
    height:50%;
    width:5px;
    border:0px;
} */
.rightBox{
    position:relative;
    height:100%;
    width:27%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-left: 220px; 
    /* margin-right: 5px; */
    padding-inline-end: 5px;
  

}
.subscribeBox{
    background-color: orangered;
    height:40px;
    width:150px;
    font-weight: 30%;
    margin-top: 10px;
    padding-top: 10px;
    text-decoration:none;
    text-align: center;
    border-radius: 30px;

}
b{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
a{
    text-decoration:none;
}
.signinBox img{
 height:35px;
 width:23px;
 margin-top: 15px;
}




.fullbox{
    margin: auto;
    margin-top: 70px;
    display: flex;
    height:420px;
    width:1100px;
    background-color: #222;
  
    border-radius: 10px;
}
.half1{
    margin: auto;
    margin-left: 100px;
    display: flex;
    height:250px;
    width:45%;
    display: inline;
   
    border-radius: 10px;
}
.half2{
    margin: auto;
    margin-top: 70px;
    margin-right: 100px;
    display: flex;
    height:180px;
    width:30%;
   
    display: inline;
  
    border-radius: 10px;
}
.half1a{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(48, 22, 8);
    display: flex;
   
    height:40%;
    width:100%;
   
    
    border-radius: 10px; 
}
.half1b{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    height:40%;
    width:100%;
    background-color:#707378;
  
    border-radius: 10px;
}
.half2a{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height:24%;
    width:90%;
   
    background-color:#707378;
    border-radius: 30px; 

}
.half2b{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    height:24%;
    width:90%;
    background-color:orangered;
    color:white;
    border-radius: 30px;
}
.proceed{
    margin: auto;
    display: flex;
    width: 50%;
    height:80%;
    color:white;

}
.img1{
  
  
    margin-left: 250px;
    /* background-color: rgba(161, 68, 24, 0.74); */
    display: flex;
   
    height:100%;
  
   
  
}
.img2{
    margin-left: 250px;
    /* background-color: rgba(161, 68, 24, 0.74); */
    display: flex;
   
    height:100%;
}
.btn1{
 
  width: 50%;
  height:100%;
  background-color:rgb(48, 22, 8);
  border-radius: 30px;
  
}
.btn2{
  
    width: 50%;
    height:100%;
    background-color:#707378;
    border-radius: 30px;
  } 
  h3{
      margin:auto;
  }
  .signinBox{
    display: flex;
}
.signinBox img{

 height:35px;
 width:23px;
 /* margin-top: 15px; */
}