*{
    background-color: rgb(70, 65, 65);
}

img{
    width: 30px;
    height:30px;
}
#main{
   border: 1px solid black;
   width: 45%;
   margin: auto;
   height: 550px;
   background-color: black;
}
#lower{
    width:200px;
}
h1{
    color: white;
    width: 90%;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 900;
    background-color: black;
  

}
h3{
    color: white;
    background-color: black;
}
#upper{
    margin: 70px 80px 0px 150px;
    background-color: black;
}
#lower{
    margin: 20px 80px 0px 150px;
    display: flex;
    height: 50px;
    background-color: rgb(61, 58, 58);
    background-color: black;
   
}
input{
    padding: 15px;
    background-color: rgb(61, 58, 58);
    width:250px;
    color: white;
    border: none;
   
}
#lower div{
 background-color:  rgb(61, 58, 58);
 
}
#num_1 h3{
    color:white;
    margin-bottom: 25px;
    
}
#num_1{
    display: flex;
    border: 1px solid black;
}
div img{
    margin-top: 10px;
    margin-left: 13px;
}
div h3{
    margin-left: 5px;
}
#button{
    text-align:center;
    padding: 18px;
    background-color: orangered;
    border-radius: 20px;
    width: 350px;
    margin: auto;
    color: white;
    margin: 20px 80px 0px 150px;
   

}
#dot{
    color: orangered;
}
#india{
    color: white;
}
#lower #num_1 div{
    color: white;
}
#lower{
    border-radius: 10px;
}
p{
    color: grey;
    margin-left: 170px;
  background-color: black;

}
#logo{
   display: flex;
   margin-left: 160px;
   background-color: black;
;
}
#logo div div{
    display: flex;
    color: white;
    width: auto;
    margin: 0px;
    
}
#logo div{
   display: flex;
   width: 25%;
 
   border-radius: 5px;

}
#logo #logo_{
    border: 1px solid grey;
    justify-content: center;
}
#write{
    margin-top: 10px;
   margin-right: 30px;
   

}
#logo div div{
    justify-content: space-between;
    margin: 5px;
}
#btn{
    background-color: black;
}
#logo #logo_div img{
    margin-bottom: 30px;
}
#login{
   margin-bottom: 14px;
   margin-right: 7px;
    
}
h4{
    margin-top: 13px;
    margin-right:10px ;
}




